.img-subtext {
  font-size: small;
  padding: 10px;
}

.img-half {
  width: 50%;
  padding: 1px;
}

.img-full {
  width: 100%;
}

.post-preview-continue-reading {
  font-weight: bold;
}

.logo {
  width: 75px;

  &.desktop {
    display: none;
    @media only screen and (min-width: 992px) {
    display: inline-block;
    }
  }

  &.mobile {
    display: none;
    @media only screen and (max-width: 991px) {
    display: inline-block;
    }
  }
}

.page-boat{
  th {
    padding-right: 30px;
  }
}

.articles {
  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    margin-bottom: 50px;
  }

  .item-header {
    display: flex; /* Verwendet Flexbox für das Layout */
    width: 100%; /* Der Container nimmt die volle Breite des Elternelements ein */
  }
  .item-header-left-box {
    flex-grow: 1; /* Lässt die linke Box den verbleibenden Raum einnehmen */
  }
  .item-header-right-box {
    width: 100px; /* Breite der rechten Box */
    height: 100px; /* Höhe der rechten Box */
    background-size: contain;
    background-repeat: no-repeat;
  }
}